.idea/

openspeechcorpus_env

isolated_words
isolated_words.txt
words
words.txt
aphasia
aphasia.txt
tales
tales.txt

source_folder
transform_folder

simple_words

build
dist
openspeechcorpus.egg-info
