.idea/
__pycache__

openspeechcorpus_env

isolated_words
isolated_words.txt
words
words.txt
aphasia
aphasia.txt
tales
tales.txt

source_folder
transform_folder

simple_words

aphasia_letters.txt

build
dist
openspeechcorpus.egg-info

words_grammar_htk
